.post-container {
    width: 600px;
    height: auto;
    border: 2px solid black;
    margin: 10px 0 10px 0;
}

.profile-pic {
    height: 40px;
    width: 40px;
    border: 1px solid black;
    border-radius: 45px;
}

.post-image {
    width: 350px;
    height: auto;
}